@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  
  .bg-grid-pattern {
    background-image: radial-gradient(circle, #333 1px, transparent 1px);
    background-size: 20px 20px;
  }
} 